.service-card {
    display: grid;
    grid-template-columns: 10rem auto;
    width: 25rem;
    height: 11rem;
    border-radius: 0.5rem;
    --shadow: #e0e0e0;
    box-shadow: 0 0 1rem var(--shadow);
    padding: 0.5rem;
    transition: 0.5s;
}

.service-controls {
    cursor: pointer;
}

.service-controls > svg {
    transform: translate(-0.1rem, 0.2rem);
}

.service-controls:hover > svg {
}

.service-running {
    box-shadow: 0 0 1rem color-mix(in srgb, #eaeaea, palegreen 10%);
    background-color: color-mix(in srgb, white, palegreen 10%);
}
.service-exited {
    box-shadow: 0 0 1rem color-mix(in srgb, #eaeaea, palevioletred 10%);
    background-color: color-mix(in srgb, white, palevioletred 10%);
}

.service-card h2 {
    transform: translateX(1rem);
    text-transform: capitalize;
}

.service-button {
    border-radius: 100rem;
    outline: none;
    border: none;
    margin: 0.3rem;
    padding: 0.3rem 0.4rem;
    transition: 0.2s;
}

.power-icon {
    transform: translateY(0.1rem);
}

.help-icon {
    transform: translateY(0.4rem);
}

.service-logo {
    height: 11rem;
    width: auto;
    background-color: #00ff0010;
    border-radius: 0.3rem;
}

.service-controls {
    margin: 0.5rem;
    text-align: center;
    position: relative;
}

.service-link {
    margin-left: 0.2rem;
    color: black;
}
.service-link > svg {
    transform: translateY(0.4rem);
}

.service-button.stopped {
    background-color: palevioletred;
}
.service-button.running {
    background-color: palegreen;
}
.service-button:hover {
    scale: 1.05;
}
.service-button:active {
    scale: 0.95;
}

.service-button.help {
    color: black;
    text-decoration: none;
    background-color: transparent;
}
.service-button.help:hover {
    color: black;
}

.categories {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
}

.categories *:nth-child(1) {
    font-weight: bold;
}

.downloads {
    position: relative;
    display: flex;
    align-self: center;
    width: min-content;
    gap: 1rem;
    left: 50%;
    transform: translate(-50%, -0.3rem);
}

.app-store,
.google-play {
    height: auto;
    color: black;
    outline: none;
    border: none;
}
