.topbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 3rem;
    width: calc(100% - 1rem);

    background-color: #3f84fc;
    color: black;
    z-index: 1;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.topbar .brand {
    margin: 0;
    align-self: center;
    padding: 0 1rem;
    text-align: left;
}

.topbar .meta {
    margin: 0;
    margin-top: -0.4rem;
    font-size: 1.1rem;
    align-self: center;
    padding: 0 1rem;
    text-align: right;
}

.page-bar {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    align-self: center;
    background-color: #3f84fc;
    padding: 0.5rem;
    border-radius: 100rem;
}

.topbar .meta .version {
}

.topbar .meta .update-icon > svg {
    margin-left: 0.75rem;
    color: palegreen;
    transform: translateY(0.3rem);
}

.sidebar {
    position: fixed;
    border-radius: 0 0 0.5rem 0.5rem;
    top: 4rem;
    left: 0.5rem;
    height: calc(100% - 5rem);
    width: 17rem;
    background-color: #c4dcfc;
}

.sidebar-pages {
    display: grid;
}

.sidebar-link {
    color: black;
    text-align: left;
    width: calc(100% - 2rem);
    padding: 1rem;
    font-weight: bold;
    text-decoration: none;
}
.sidebar-link.active {
    color: white;
}

.content {
    margin-left: 17rem;
    margin-top: 5rem;
}
